.main {
  width: 100%;
}

.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-inline: 2rem;
  padding-block: 0.5rem;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-bottom-width: 1px;
}

.headerLeftSection {
  color: rgba(0, 0, 0, 0.8);
  font-family: Pridi, sans-serif;
}

.headerRightSection {
  display: flex;
  justify-content: center;
}

.newAppealButton {
  background-color: rgb(221, 228, 240);
  color: #242e8f;
  font-size: 1rem;
  font-weight: 600;
  border-style: none;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.notificationButton {
  background: transparent;
  color: rgba(0, 0, 0, 0.7);
  border-style: none;
  cursor: pointer;
}

.mainSection {
  margin-inline: 2rem;
  width: 100%;
  display: flex;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-bottom-width: 1px;
}

.mainLeft {
  width: 70%;
  padding-block: 1rem;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: rgba(0, 0, 0, 0.2);
}

.cardSection {
  display: flex;
  padding-inline: 1rem;
  padding-bottom: 1rem;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

.cardContainer {
  width: 35%;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: rgba(0, 0, 0, 0.2);
  margin-right: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
}

.cardTextContainer {
  padding-left: 0.5rem;
}

.cardText {
  margin-top: 0.4em;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
}

.cardInfo {
  display: flex;
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.8);
  justify-content: space-between;
  align-items: center;
}

.cardTextApproved {
  color: #00be13;
  display: flex;
}

.cardTextApproved p {
  margin-top: 0.5rem;
  font-size: 0.75rem;
}

.cardTextDenied {
  color: rgb(212, 0, 0);
  display: flex;
  align-items: center;
}

.cardTextDenied p {
  margin-top: 0.5rem;
  font-size: 0.75rem;
}

.cardContainerLast {
  width: 33%;
  margin-right: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
}

.visualizationSection {
  width: 100%;
  display: flex;
}

.chartSection {
  width: 100%;
}

.chartSection h2 {
  font-size: 1.2rem;
  font-weight: 700;
  padding-block: 1rem;
  color: rgba(0, 0, 0, 0.7);
}

.chartContainer {
  width: 80%;
}

.chartDescriptionSection {
  margin-top: 2rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.descriptionTitle {
  font-weight: 600;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 1rem;
}

.descriptonTotalRequest {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0.4rem;
}

.descriptionDetails {
  display: flex;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0.4rem;
}

.descriptionDetails span {
  color: #00be13;
}

.dropdownContainer {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.dropdownContainer p {
  margin-right: 1rem;
}

.dropdownSelector {
  background: transparent;
  color: rgba(0, 0, 0, 0.7);
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.2rem;
}

.legend {
  display: flex;
  align-items: center;
  margin-left: -0.6rem;
}

.legend p {
  font-size: 0.8rem;
  color:rgba(0, 0, 0, 0.7);
}

.mainright {
  width: 40%;
  margin-left: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notificationHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.notificationTitle {
  display: flex;
  color: #5a6acf;
  font-size: 1.2rem;
  font-weight: 600;
}

.notificationTitle h2 {
  margin-right: 1rem;
}

.moreNotification {
  color: #5a6acf;
  display: flex;
  cursor: pointer;
}

.moreNotification :hover {
  text-decoration: underline;
}

.moreNotification p {
  margin-right: 0.5rem;
}

.notificationContainer {
  width:100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.latestList {
  margin-inline: 2rem;
}

.listTitle {
  font-size: 1.2rem;
  font-weight: 700;
  padding-block: 1rem;
  color: rgba(0, 0, 0, 0.7);
}

.listHeader {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 600;
  color:rgba(0, 0, 0, 0.7);
}

.titleMiddle {
  display: flex;
  justify-content: space-between;
}

.requestStatus{
  width: 7rem;
}

.requestPriority {
  width: 7rem;
}

.requestAction {
  width: 15rem;
}

.titleMiddle {
  display: flex;
  justify-content: space-between;
}

.rowStatus{
  width: 7rem;
}

.rowPriority {
  width: 7rem;
}

.rowAction {
  width: 15rem;
}