.page {
  padding-inline: 5rem;
}

.Header {
  background: transparent;
  width: 100%;
    padding-top: 2rem;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.HeaderMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.HeaderMenuList {
  padding-inline: 0.25rem;
  cursor: pointer;
}

.headerLoginSection {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
}

.loginButton {
  margin-right: 1rem;
}

.SignUpButton {
  margin-left: 1rem;
}